
<nav class="top-navbar dark:bg-gray-800">
    <div class="container px-6 py-3 mx-auto">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="items-center md:flex">
                <div class="hidden md:flex">
                    <div class="flex flex-col mt-2 md:flex-row md:items-center md:mt-0 md:mx-1">
                        <%= image_tag 'svg/help.svg', size: '20x20', class: 'mr-2' %>
                        <%= image_tag 'svg/bell2.svg', size: '20x20' %>
                        <%= link_to  "James", root_path, class: "my-1 text-sm leading-5 text-gray-700 dark:text-gray-200 hover:text-blue-600 dark:hover:text-indigo-400 hover:underline md:mx-4 md:my-0" %>
                        <%= image_tag 'Bertram_Gilfoyle.jpg', size: '50x50', class: 'rounded-full' %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</nav>