<main class="main flex-col p-0 m-0">
    <div class="board-header w-full flex justify-between items-center px-10 pt-5">
        <%= link_to categories_path do %>
            <h4 class="text-3xl font-medium">Categories</h4>
        <% end %>
        <div>Sort</div>
    </div>

    <div class="board w-full flex flex-col px-0 md:flex-row justify-between">
        <%= render 'index' %>

        <div class="flex flex-col w-full md:mb-5 md:mx-5 bg-gray-100 pt-8 rounded-xl">
            <%= render 'form' %>
        </div>
           
    </div>
</main>

<%= javascript_pack_tag 'color_picker.js' %>
